h1 {
  text-align: center;
  font-size: x-large;
  font-family: "Major Mono Display", monospace;
  color: blanchedalmond;
}
#Mazz {
  text-align: left;

  font-family: "Major Mono Display", monospace;
  color: blanchedalmond;
}

#Jingxi {
  text-align: right;
  font-family: "Major Mono Display", monospace;
  color: blanchedalmond;
}

#Interests1 {
  text-align: left;
  font-family: "Major Mono Display", monospace;
  color: blanchedalmond;
}
